<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img  src="./assets/fausto1.jpg"
        class="img-fluid"
        id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Ricardo Canteros</p>
        <p>Full Stack Deeveloper Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Hola,soy estudiante del plan Argentina Programa,tengo 47 años, es mi primera experiencia en Programacion</p>
        </span>
    </div>
